@import "~cookieconsent/build/cookieconsent.min.css";

$popupTextColor: #ffffff;
$popupLinkColor: #f9f9f9;
$popupBackground: #000000;

$buttonTextColor: #ffffff;
$buttonBackground: #4299e1;

.cc-window {
    color: $popupTextColor;
    background: $popupBackground;

    &.cc-floating {
        padding: 2em;
        max-width: 30em;
    }

    a, .cc-link {
        color: $popupLinkColor;
    }
}

.cc-floating .cc-message {
    margin-bottom: 2.5em;
}

.cc-theme-classic .cc-btn {
    color: $buttonTextColor;
    background: $buttonBackground !important;
    border-color: $buttonBackground !important;

    font-size: 1em;
    min-width: 120px;
    transition: 0.2s;
    border-width: 2px;
    border-radius: 9999px;
    text-decoration: none !important;

    &:hover {
        opacity: 0.85;
    }
}

.cc-revoke {
    width: 40px;
    height: 40px;

    left: 0;
    bottom: 0;
    opacity: .7;
    padding: 5px;
    z-index: 999999;
    position: fixed;

    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    svg {
        pointer-events: none;
    }

    &:hover {
        opacity: 1;
    }
}
